.no-suggestions {
    color: #999;
    padding: 0.5rem;
  }
  
  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: 180px;
    /*width: calc(300px + 1rem);*/
  }
  
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: #008f68;
    color: #fae042;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  }

.castSearch {
      display: flex;
      align-items: center;
     
}
.castSearch #name {
    width: 60%;
}
.castSearch .castId{
    width: 15%;
}
.castSearch #id, .castSearch #add {
    width: 15%;
}
.castSearch span {
    width: 20%
}

.castSearch button {
    margin: 0 20px ;
    padding: 5px;
    background-color: red;
    color: white
}

.castSearch button:disabled {
    background-color: rgba(175, 151, 151, 0.39);
}