.AdminPage nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
}
#admin_nav a {
    background-color: cadetblue;
    padding: 10px; width: 33%; height: 50px; 
    border-style: solid; border-width: thin;
    text-align: center;
    color: white;
}
#admin_nav .active {
    background-color: red;
}
.admin_content {
    padding: 5px;
}
.admin_content .form {
    width: 100%;
}
.forms_nav{
    display: flex;
    margin-bottom: 10px;
    border-style: solid;
    border-width: medium;
}
.forms_nav span {
    width: 50%;
    padding: 10px;
    text-align: center;
}
.forms_nav span:hover{
    cursor: pointer;
    color: rgb(187, 126, 13);
    font-weight: bold;
}
.highlighted{
    background-color: rgb(39, 10, 121);
    color: white
}
@media screen and (min-width: 700px) {
    .AdminPage_header{
        width: 35%;
        text-align: center;
    }
    .AdminPage {
        display: flex;
    }
    .AdminPage nav {
        flex-direction: column;
        min-width: 280px;
        width: 35%;
    }
    #admin_nav a {
        width: 80%;
        padding: 20px;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .admin_content {
        width: 60%;
    }

}