.AdminPage {
    display: flex;
}

.AdminPage_header{
    width: 35%;
    text-align: center;
}

.AdminPage nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 35%;
}

#admin_nav a {
    background-color: cadetblue;
    color: white;
    width: 80%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 15px;
}
#admin_nav .active {
    background-color: red;
}

.admin_content {
    width: 60%;
}
.admin_content .form {
    width: 100%;
}
.forms_nav{
    display: flex;
    margin-bottom: 10px;
    border-style: solid;
    border-width: medium;
}
.forms_nav span {
    width: 50%;
    padding: 10px;
    text-align: center;
}
.forms_nav span:hover{
    cursor: pointer;
    color: rgb(187, 126, 13);
    font-weight: bold;
}
.highlighted{
    background-color: rgb(39, 10, 121);
    color: white
}
