.AdminPage {
    display: flex;
}

.AdminPage_header{
    width: 40%;
    text-align: center;
}

.AdminPage nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
}

.admin_nav a {
    background-color: cadetblue;
    width: 80%;
    padding: 20px;
    font-size: 20px;
    margin: 10px 0;
}
.admin_content {
    width: 55%
}
.admin_content header {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}