.list {
    width: 90%;
    margin: 0 auto;
}
.ListItem{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.ListItem a {
    color: rgb(23, 5, 124);
    
}
.ListItem a:hover {
    color: red;
}
.list-control {
    margin: 10px auto 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center; background-color: orange;
    padding: 0;
}
.list-control .title {
    font-weight: 700; min-width: 100px; font-size: 20px;
    height: 40px;
    background-color: orange;
    color: black;
}
.list-control span{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center; align-items: center;
    cursor: pointer;
    background-color:  red; color: white;
}
.item {
    width: 40%;
    margin-bottom: 15px;
    height: 100%;
    margin-right: 10px;
}
.poster img {
    height: 150px;
}
.movie_link{
    height: 40px;
}
@media screen and (min-width: 500px) {
    .item {
    width: 30%;
    }

    .poster img {
        height: 200px;
    }
}
@media screen and (min-width: 700px) {
    .poster img {
        height: 250px;
    }

}