.UserPage {
    padding: 15px;
}
.UserPage h2 {
    font-weight: bold;
}
.avatar {
    width: 30%;
    height: 200px;
    margin-right: 20px;
}
.userFavorite h2 {
    color: red
}

.userInfo, .basicInfo header{
    display: flex;   
}
.basicInfo header {
    width: 400px;
    align-items: center;
}
.basicInfo header img {
    width: 50px;
    height: 40px;
    margin-left: 10px;
    margin-right: 120px;
}

