.box, .admin_content .basicInfo{
    margin-bottom: 10px;
    padding: 10px;
    border-style: solid;
    border-color: crimson;
}

.boxNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxNav h3 {
    width: 70%;
}

.boxFooter {
    display: flex;
    justify-content: space-between;
}
.basicInfo header {
    display: flex; align-items: center;
    width: 100%;
}
.mini-avatar {
    width: 40px;
    height: 50px;
    margin-right: 10px;
}
.basicInfo h1 {
    font-size: 25px;
}
.basicInfo header h2 {
    width: 65%;
}

.flag {
    width: 50px;
    height: 40px;     
}
.control_icons{
    width: 25%;
    text-align: right;
}
.control_icon {
    margin-left: 5px;
}
.control_icon:hover {
    color: green;
    cursor: pointer;
    font-size: 20px;
}
.profile{
    display: flex;
}
.avatar {
    width: 30%;
    max-height: 300px;
    margin-right: 20px;
}
.info{
    width: 65%;
}
.info button {
    padding: 15px;
    background-color: rgb(16, 16, 90);
    color: white;
    margin-top: 15px;
    border: none;
}
.info button:hover{
    cursor: pointer;
    background-color: red;
}
.noAuth{
    margin: 30px 50px;
}
.noAuth a{
    color: rgb(101, 101, 206);
    font-weight: bold;
}

.noAuth a:hover {
    color: chocolate;
}
.popup {
    position: fixed;
    padding: 25px;
    width: 270px;
    background-color: rgb(16, 16, 133);
    margin: 0 auto;
    top: 230px; left:0;right:0;
    color: white;
}
.popup .buttons {
    display: flex;
    justify-content: space-evenly;
}
.popup button {
    margin-top: 10px;
    padding: 10px;
    width: 60px;
    border-style: none;
    background-color: rgb(30, 221, 52);
    font-weight: 700;
}
.userPage div{
    display: flex;
    align-items: center;
}
.userPage span {
    margin-top: 9px;
}
.userPage header {
    width: 50%;
    color: rgb(16, 16, 110)
}
@media screen and (min-width: 400px) {
    .popup{
        width: 320px;
    }
}


