.box{
    margin-bottom: 10px;
    padding: 10px;
    border-style: solid;
    border-color: crimson;
}

.boxNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.control_icon {
    margin-right: 5px;
}

.boxNav h3 {
    width: 70%;
}

.boxFooter {
    display: flex;
    justify-content: space-between;
}