a {
    text-decoration: none;
    color: rgb(148, 148, 238);
}
a:hover {
    color: greenyellow;
    cursor: pointer;
}
.MoviePage form {
    margin-left: 20px;
    width: 80%;
    max-width: 500px;
}
.MoviePage textarea {
    width: 100%;
}
.postReview {
    width: 90%;
    margin: 10px auto;
}
.movie_details{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(41, 41, 41);
    color: white;
    margin-top: 10px;
}
.movie_details:nth-child(odd) {
    padding: 20px;
}
.movie_details h2 {
    color: yellow;
    font-weight: bolder;
}
.movie_visual{
    text-align: center;
}
.movie_visual img, .movie_visual iframe {
    height: 200px;
    max-width: 100%;
}
.movie_content {
    margin-top: 10px;
}

.movie_content h3 {
    color: rgb(11,159,220);
    width: 25%;
}

.movie_content a {
    margin-right: 10px;
}
.review {
    padding: 15px; display: flex;
}


.review form {
    margin-left: 0px;
    width: 70%;
}
.review textarea {
    border-radius: 5px;
}

.review .main{
    width: 85%;
}

.main .content {
    display: flex;
    justify-content: space-between;  
}

.MovieStarRating {
    visibility: hidden;
}
.review-text {
    border-style: solid;border-width: thin; border-radius: 5px;
    background-color: rgb(242,243,245);
    padding: 10px;
}
.review-react {
    margin-top: 5px;
    color: gray;
    font-weight: 400;
    display: flex;
}
.review-react span {
    margin-left: 5px;
    margin-right: 15px;
}
.review-react .active {
    color: rgb(27, 27, 155);
    font-weight: 700;
}
#thumbs-down {
    margin-top: 5px;
}
.review-action {
    position: relative;
    width: 25%;
    text-align: right;
}
.review-action div {
    font-size: 20px; font-weight: 700;
    position: absolute; top: -10px; right:5px;
}
.review-action div:hover {
    cursor: pointer;
    color: orange;
}
.review-action ul{
    list-style: none; border-style: solid ;
    border-width: thin;border-radius: 5px;
    border-color: rgb(192, 183, 183);
    padding: 5px 0; 
    position: absolute;
    right: 18px; top: 5px; text-align: left;
}
.review-action li {
    padding: 8px;
}
.review-action li:hover{
    background-color: rgb(22, 22, 129);
    color: white;
    cursor: pointer;
}

.userLink {
    color: rgb(4, 4, 158);
    font-weight: 550;
}
.userLink:hover {
    color: rgb(5, 146, 5);
}
/*
li {
    list-style: none;
    padding: 0;
}*/
.green {
    color: green;
}
@media screen and (min-width: 700px) {
    .movie_visual{
        display: flex;
        justify-content: space-evenly;
    }
    .movie_content div {
        display: flex;
        align-items: center;
    }
    .summary {
        width: 70%;
    }
    .MovieStarRating {
        font-size: 15px;
        width: 25%;
        text-align: center;
    }
    .review{
        width: 80%;
        margin: 0 auto; 
    }
    .review .main{
        width: 75%;
    }
    .MovieStarRating {
        visibility: visible;
    }
    .content section {
        width: 70%;
    }
}
