.movie_details{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(41, 41, 41);
    color: white;
    margin-top: 10px;
}
.movie_details:nth-child(odd) {
    padding: 20px;
}
.movie_details h2 {
    color: yellow;
    font-weight: bolder;
}

.movie_visual, .review-details{
    display: flex;
    justify-content: space-evenly;
}

.movie_visual img, .movie_visual iframe {
    height: 200px;
}
.movie_content p {
    display: flex
}
.movie_details span {
    width: 25%;
}
.movie_reviews {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
}

a {
    text-decoration: none;
    color: white;
}

.review-icon {
    font-size: 12pt;
    vertical-align: super !important;
    width: 10%;
}
.review-text {
    width: 65%;
    margin: 0 10px 0 30px;
}
