a {
    text-decoration: none;
    color: rgb(148, 148, 238);
}
a:hover {
    color: greenyellow;
    cursor: pointer;
}

.movie_details{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(41, 41, 41);
    color: white;
    margin-top: 10px;
}
.movie_details:nth-child(odd) {
    padding: 20px;
}
.movie_details h2 {
    color: yellow;
    font-weight: bolder;
}


.movie_visual, .review-details{
    display: flex;
    justify-content: space-evenly;
}

.movie_visual img, .movie_visual iframe {
    height: 200px;
}

.movie_content div {
    display: flex;
    align-items: center;
}
.movie_content h3 {
    color: rgb(125, 125, 161);
    width: 25%;
}
.summary {
    width: 70%;
}
.movie_content a {
    margin-right: 10px;
}

.movie_reviews {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
}


.userLink {
    color: rgb(4, 4, 158);
    font-weight: 550;
}
.userLink:hover {
    color: rgb(5, 146, 5);
}
.review-icon {
    font-size: 12pt;
    vertical-align: super !important;
    width: 10%;
}
.review-text {
    width: 65%;
    margin: 0 10px 0 30px;
}

li {
    list-style: none;
    padding: 0;
}
.green {
    color: green;
}
