.form{
    width: 70%;
    margin: 0 auto;
}
.ReviewForm {
    width: 80%;
}
input{
    margin: 10px 0;
}
.full_name, .password {
    display: flex;
    justify-content: space-between;
}
.full_name input {
    width: 49%;
}
.username input, .password input, .nick_name input {
    width: 65%;
}
.display {
    display: flex;
    align-items: center;
    width: 30%;
    color: gray;
    font-size: 15px;
}
.display input {
    width: 15%;
}
.ReviewForm div {
    display: flex;
    margin-bottom: 15px;
}

.ReviewForm label {
    width: 30%;
}
.form_control {
    display: flex;
    justify-content: space-evenly;
}
.form_control input{
    margin-top: 20px;
    width: 100px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white ;
}
.form_control input:hover {
    cursor: pointer;
    color: yellow;
}
.form_control input:disabled {
    cursor: not-allowed;
    background-color: gray;
    color: white;
}
.error {
    color: red;
}
.movie_title input, #full_name{
    font-size: 20px;
    color: rgb(17, 17, 145);
    font-weight: 600;
    width: 100%;
    text-align: center;
}
.MovieForm .movie_details {
    padding: 15px;
    font-size: 15px;
}
.MovieForm .left {
    width: 30%;   
}
.MovieForm .right {
    width: 60%;
}
.MovieForm img, .MovieForm iframe {
    width: 90%; 
}
.MovieForm .profile {
    margin-top: 15px;
}
.MovieForm .avatar {
    width: 30%;
}
.MovieForm .flag {
    width: 50px;
    height: 40px; 
    margin-left: 15px;
}
.formNav button {
    padding: 5px;
    background-color: red;
    color: white;
    margin-right: 5px;
}
.formNav span {
    color: gray;
    float: right;
}


.MovieForm header {
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
}
.MovieForm .date {
    color: gray;
}
.MovieForm textarea {
    width: 100%;
}
.genres_list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.genres_list div {
    width: 25%;
}
.cast div {
    display: flex;
}
.cast input {
    width: 33%;
    margin-right: 10px;
}
.otherInfo{
    display: flex;
    flex-wrap: wrap;
}
/*
.otherInfo .birth_year, .otherInfo .year, .otherInfo.title{
    width: 20%;
}*/

.otherInfo div{
    margin-right: 20px;
}




  
