.form{
    width: 70%;
    margin: 0 auto;
}
.ReviewForm {
    width: 80%;
}
input{
    margin: 10px 0;
}
.full_name, .password {
    display: flex;
    justify-content: space-between;
}
.full_name input {
    width: 49%;
}
.username input, .password input, .nick_name input {
    width: 65%;
}
.display {
    display: flex;
    align-items: center;
    width: 30%;
    color: gray;
    font-size: 15px;
}
.display input {
    width: 15%;
}
.ReviewForm div {
    display: flex;
    margin-bottom: 15px;
}

.ReviewForm label {
    width: 30%;
}
.form_control {
    display: flex;
    justify-content: space-evenly;
}
.form_control input{
    margin-top: 20px;
    width: 100px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white ;
}
.form_control input:hover {
    cursor: pointer;
    color: yellow;
}
.form_control input:disabled {
    cursor: not-allowed;
    background-color: gray;
    color: white;
}
.error {
    color: red;
}
  
