.form{
    width: 80%;
    margin: 0 auto;
}
button:hover {
    cursor: pointer;
}
input{
    margin: 10px 0;
}
textarea {
    width: 100%;
}
.form_control {
    display: flex; justify-content: space-evenly;
}
.form_control input{
    margin-top: 20px; width: 100px;padding: 10px;
    border: none; color: white ; background-color: black;
}
.form_control input:hover {
    cursor: pointer; color: yellow;
}
.form_control input:disabled {
    cursor: not-allowed; background-color: gray;
}
.error {
    color: red;
}
.formNav button {
    padding: 10px; margin-right: 5px; width: 70px;
    background-color: rgb(169, 207, 171); color: white;  
    border-style: none;
}
.formNav .active {
    background-color: rgb(11, 90, 73);
}
.formNav span {
    color: gray;float: right;
}
.form header {
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
}
.form .flag {
    width: 50px;
    height: 40px; 
    margin-left: 15px;
}
.form .date {
    color: gray;
}
.form .profile {
    margin-top: 15px;
}
.form .avatar {
    width: 30%;
    max-height: 200px;
}
.main_input {
    font-size: 20px;
    color: rgb(17, 17, 145);
    font-weight: 600;
    width: 100%;
    text-align: center;
}
/*REGISTRATION*/
.full_name, .password {
    display: flex;
    justify-content: space-between;
}
.full_name input {
    width: 49%;
}
.username input, .password input, .nick_name input {
    width: 65%;
}
.displayPassword {
    display: flex; align-items: center;
    width: 30%;color: gray;font-size: 15px;
}
.displayPassword input {
    width: 15%;
}
/*REVIEW*/
.ReviewForm {
    margin-left: 40px;
}
.ReviewForm div {
    display: flex; margin-bottom: 15px;
}
.rating label, .comment label {
    width: 25%;
}
.ReviewForm textarea {
     width: 420px;
}

/*MOVIE*/
.MovieForm .movie_details {
    padding: 15px;
    font-size: 12px;
}
.MovieForm .left {
    width: 30%;   
}
.MovieForm .right {
    width: 60%;
}
.MovieForm img, .MovieForm iframe {
    width: 90%; 
}

/*
.movie_title input, #full_name{
    font-size: 20px;
    color: rgb(17, 17, 145);
    font-weight: 600;
    width: 100%;
    text-align: center;
}*/
.genres_list,.otherInfo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.genres_list div {
    width: 25%;
}
/*
.cast input {
    width: 30%; margin-right: 10px;
}*/
.otherInfo div{
    margin-right: 20px;
}




  
